.totalContainer{
  border: 0.1rem solid;
  margin: 0.1rem;
}

.time {
  margin-left: 2rem;
  font-size: 0.8rem;
}

.place {
  margin-left: 2rem;
  font-size: 1rem;
  margin-bottom: 5rem;
}

.host {
  margin-top: 5rem;
  margin-left: 2rem;
}

.poster {
  width: 100%;
}

.posterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  width: 15rem;
  height: 15rem;
}
